.video{
    position: relative;
    margin-top: 10px;
    height: 100;
}
.button{
    background-color: orange;
    color: white;
    text-align: center;
    padding: 10px 15px;
    border-radius: 20px;
    position: relative;
    bottom: 60px;
    left: 290px;
}
.Lobby {
    text-align: center;
    background-color: #282c34;
  }
  
  .Lobby-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Lobby-logo {
      animation: Lobby-logo-spin infinite 20s linear;
    }
  }
  
  .Lobby-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Lobby-link {
    color: #61dafb;
  }
  
  @keyframes Lobby-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
.Lobby {
    text-align: center;
  }
  
  .Lobby-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Lobby-logo {
      animation: Lobby-logo-spin infinite 20s linear;
    }
  }
  
  .Lobby-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Lobby-link {
    color: #61dafb;
  }
  
  @keyframes Lobby-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
